.container {
    padding-left: 40px;
}

.shadow {
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
}

.settingsList {
    margin-left: 10px;
}

h4 {
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
  }